{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Create Product{% endblock title %}

{% block body %}
<div class="container">
  <div class="jumbotron">
  	<h1 align="center">Create Product</h1>
<form method="post">
	{% csrf_token %}


	{{ form|crispy }}

  <a href="{% url 'homepage' %}" class="btn btn-info ml-2 float-left">Back</a>
<button class="btn btn-info ml-2 float-right" type="submit">Create</button>

</form>
</div>
</div>
{% endblock body %}