{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Delete Product
{% endblock %}

{% block body %}
<div class="container">
	<h1></h1>
  <div class="jumbotron">
<form method="post">
	{% csrf_token %}
	<p>Do you want to delete {{object.product_name}}?</p>
	{{ form|crispy }}

<button class="btn btn-danger ml-2 float-right" type="submit">Delete</button>
<a href="{% url 'homepage' %}" class="btn btn-info ml-2 float-left">Back</a>
</form>
</div>
</div>
{% endblock body %}