{% extends 'base.html' %}

{% block title %}Stock{% endblock title %}
{% block body %}
<div class="container">
  <div class="jumbotron">
  	<h1 align="center">Products</h1>
      <br>
      <br>
        <table class="table table-bordered">
  <thead >
    <tr>
      <th scope="col">S.N</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
        <th scope="col">Product_code</th>
        <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {% for i in object_list %}
      <th scope="row">{{ forloop.counter}}</th>
            <td><a href="{% url 'update' i.id %}">{{i.product_name}}</a></td>
      <td>{{ i.quantity }}</td>
      <td>{{ i.price }}</td>
       <td>{{ i.product_code }}</td>
       <td>{{ i.description }}</td>

    </tr>
  {% endfor %}
  </tbody>
</table>
<a href="{% url 'homepage' %}"	class="btn btn-info ml-2 float-left">Back</a>
    </div>
    </div>

{% endblock body %}