{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Update Product{% endblock title %}
{% block body %}
<div class="container">
  <div class="jumbotron">
  	<h1 align="center">Update Product</h1>
<form method="post">
	{% csrf_token %}
    {{ form|crispy }}
<a href="{% url 'stock' %}"	class="btn btn-info ml-2 float-left">Back</a>
    <a href="{% url 'delete' product.id  %}"	class="btn btn-danger ml-2 float-right">Delete</a>
<button class="btn btn-success ml-2 float-right" type="submit">Update</button>

</form>
</div>
</div>

{% endblock %}