{% extends 'base.html' %}
{% load static %}


{% block css %}

{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Suyoj Hand Knit Craft</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link disabled btn btn-outline-secondary" href="#">Home <span class="sr-only">(current)</span></a>
      </li>&nbsp;&nbsp;
      <li class="nav-item">
        <a class="btn btn-success" href="{% url 'create' %}" role="button">Add Product</a>
      </li>&nbsp;&nbsp;
     <li class="nav-item">
        <a class="btn btn-success" href="{% url "total_sales" %}" role="button">Sales Record</a>
      </li>&nbsp;&nbsp;
        <li class="nav-item">
        <a class="btn btn-success" href="{%  url 'stock' %}" role="button">Stock Management</a>
      </li>&nbsp;&nbsp;
        <li class="nav-item">
            <form method="post" action="{% url 'create_invoice' %}">
                {% csrf_token %}
                 <button class="btn btn-success" type="submit">Create Bill</button>
            </form>
      </li>&nbsp;&nbsp;
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
<h1>Welcome {{ user.username }} !!</h1>

  </div>
</div>


{% endblock %}