{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="container">
    <div class="jumbotron">
        <div>
            <h1 align="center">Add Product to Invoice</h1>
<form method="post" id="form1">
     {% csrf_token %}
    {{ form|crispy }}
    <a href="{% url 'create_invoice' %}" class="btn btn-info ml-2 float-left" onclick="return myFunction3()">Back</a>
    <button class="btn btn-info ml-2 float-right" type="submit">Add Product</button>
</form>
        </div>
    </div>
    </div>


{% endblock body %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$("#id_product_name").change(function() {
    let product_id = $(this).val();
    console.log(product_id);

 $.ajax({
        url: 'ajax/product_price',
        data: {
            'product_id': product_id,
        },
        dataType: 'json',
        success: function(data) {
            $("#id_price").val(data.price)

            // alert("A user with this username already exists." + data.price);

        }
    });
    });

$("#id_quantity").keyup(function () {
    let quantity = $(this).val();
    let price = $('#id_price').val();

    $('#id_total').val(quantity*price);

})

function myFunction3(){
	let a = confirm("Are you sure you want to go back?");
    if (a == true) {
        return true
    } else {
        return false
    }
}

$("#id_quantity").keyup(function() {
    let quantity = $('#id_quantity').val();
    let product_id = $('#id_product_name').val();
    $.ajax({
        url: 'ajax/quantity',
        data: {

            'product_id': product_id,
        },
        dataType: 'json',
        success: function(data) {
            let a = data.quantity_left
            if (quantity > data.quantity_left) {
                Swal.fire({
                type: 'error',
                title: "We have only " + a + " quantity left !! ",
                showConfirmButton: false,
                timer: 1500,
            }).then(function(){
                   clearInputs();
            });
                //alert("We have only " + data.quantity_left + " quantity left !!");

            }
        }
    });
});

function clearInputs() {
    document.getElementById("id_quantity").value = "";
    document.getElementById("id_total").value = "";

}

document.querySelector('#form1').addEventListener('submit', function(e) {
	let form = this;
    e.preventDefault();
    Swal.fire({
        type: 'success',
        title: 'Successfully Added Product !!',
        showConfirmButton: false,
        timer: 1500,
    }).then(function(){
         form.submit();
    });



});
</script>
{% endblock js %}