{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <div>
            <h1 align="center"><< INVOICE -No : {{invoice_id}} >> </h1>

        </div>
        <br>
        <br>
        <div>
            <a href="{% url 'add_product_to_invoice' invoice_id  %}" class="btn btn-info ml-2 float-right">Select Product</a>
            <form method="post" action="{% url 'delete_invoice' invoice_id %}" >
                {% csrf_token %}
                <button class="btn btn-primary ml-2 float-right" onclick="return myFunction3()">Back</button>
            </form>
            <form method="post" action="{% url 'save_invoice' %}" id="form1">
                {% csrf_token %}
                <input type="hidden" name="invoice_id" value="{{ invoice_id }}"/>
                <input type="hidden" name="total" value="{{ total.total__sum }}"/>
                Customer Name : <input type="text" name="customer_name" required/>
                <br>
                <br>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        Gender : <input type="radio" class="form-check-input" name="gender" checked="checked" value="M">Male
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gender" value="F">Female
                    </label>
                    <button class="btn btn-primary ml-2 float-right" type="submit">Create Bill</button>
                    </div>
            </form>
        </div>

        </div>
  <table id="myTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% if invoice_row %}
                {% for t in invoice_row %}
                <tr>
                    <td>{{ t.product_name }}</td>
                    <td>{{ t.price }}</td>
                    <td>{{ t.quantity }}</td>
                    <td>{{ t.total }}</td>
                </tr>
                {% endfor %}
                {% endif %}
                <tr>
                    <td>__</td>
                    <td>__</td>
                    <td>Grand Total</td>
                    <td>{{total.total__sum}}</td>
                </tr>
            </tbody>
        </table>
    </div>
        {% endblock %}

{% block js %}
    <script>
function myFunction3() {
    let a = confirm("Are you sure you want to go back?");
    if (a == true) {
        return true
    } else {
        return false
    }
}

document.querySelector('#form1').addEventListener('submit', function(e) {
	let form = this;
    e.preventDefault();
    Swal.fire({
        type: 'success',
        title: 'Successfully Created Bill !!',
        showConfirmButton: false,
        timer: 1500,
    }).then(function(){
         form.submit();
    });



});
</script>
{% endblock js %}