{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="jumbotron">
        <h1>Sales Details : </h1>
        <p>Date From: <input type="text" id="datepicker"></p>
        <p> Date To : <input type="text" id="datepicker1"></p>
        <a href="{% url 'homepage' %}" class="btn btn-info ml-2 float-right">Back</a>
        <button class="btn btn-info ml-2 float-right" type="submit">Search</button>
        <table id="dtBasicExample" class="table table-bordered">
            <thead>
                <tr>
                    <th>Sales Id</th>
                    <th>Customer Name</th>
                    <th>Gender</th>
                    <th>Invoice Id</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for t in object_list %}
                    <td><a href="{% url "individual_sales_detail" t.id %}">{{t.id}}</a></td>
                    <td>{{ t.customer_name }}</td>
                    <td>{{ t.gender }}</td>
                    <td>{{ t.invoice_id }}</td>
                    <td>{{ t.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}

