{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>Invoice Details : {{ invoice_id}} </h1>

        <a href="{% url 'total_sales' %}" class="btn btn-info ml-2 float-right">Back</a>

        <table id="dtBasicExample" class="table table-bordered">
            <thead>
                <tr>
                    <th>S.N</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for i in query_set %}
                  <th scope="row">{{ forloop.counter}}</th>
                    <td>{{ i.product_name }}</td>
                    <td>{{ i.quantity }}</td>
                    <td>{{ i.price }}</td>
                    <td>{{ i.total }}</td>
                    </tr>
{% endfor %}
                    <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>TOTAL</td>
                    <td>{{ total }}</td>
                    </tr>

        </tbody>
        </table>
    </div>
</div>

{% endblock %}